@mixin button {
    font: {
      family: $secondFont;
      size: 1.25rem;
      weight: bold
    }
    text: {
      decoration: none;
      align: center;
    }
    background-color: $secondColor;
    color: $mainColor;
    padding: 0.5rem;
    width: 15rem;
    border: 2px solid $mainColor;
    border-radius: 15px;
    display: block;
    margin: 0.5rem auto 0;
    transition : 0.6s;

    &:hover{
      background-color: $mainColor;
      color: $secondColor;
      border: 3px solid $secondColor;
      transition : 0.6s;
      transform: scale(1.2);
    }
  }
  